h1{font-family: Georgia, 'Times New Roman', Times, serif; color: deeppink; background-color: burlywood; } 
p{ font-size: large; color: aqua; background-color: black;}
td{ color: burlywood; background-color: brown; }